* {
    box-sizing: border-box;
}

.cabecera {
    text-align: center;
    padding: 40px 0;
    border-bottom: 1px solid #aeb3bb;
}

.cabecera__descripcion {
    color: #aeb3bb;
    font-weight: normal;
    font-size: 16px;
    width: 150px;
    margin: 16px auto;
}

.pasos {
    background: #fbfbfb;
    padding: 10px 35px;
    text-align: center;
    color: #656c76;
    border-bottom: 1px solid #aeb3bb;
}

.paso {
    margin: 30px 0;
}

.paso__circulo {
    width: 25px;
    height: 25px;
    background: #4a8bf9;
    border-radius: 50%;
    margin: 0 auto;
    color: #fff;
    line-height: 25px;
}

.paso__titulo {
    font-weight: normal;
    font-size: 16px;
}

.paso__input {
    width: 100%;
    min-width: 247px;
    max-width: 500px;
    height: 20px;
    border: 1px solid #d7dce2;
    border-radius: 2px;
}

@media screen and (min-width: 768px) {
    .paso__input {
        /* width: 500px; */
        height: 30px;
    }
}

.paso__preview {
    width: 247px;
    height: 123px;
    border: 1px solid #d7dce2;
    border-radius: 2px;
    background: #fff;
    margin: 20px auto 0 auto;
    padding-top: 30px;
    color: #d7dce2;
}

.paso__descarga__video {
    background: #4a8bf9;
    width: 97px;
    height: 28px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 28px;
    border-radius: 2px;
    font-size: 14px;
}

.paso__descarga__audio {
    background: #2dc989;
    width: 97px;
    height: 28px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 28px;
    border-radius: 2px;
    font-size: 14px;
}

.paso__link {
    display: block;
    color: #aeb3bb;
    text-decoration: none;
    margin: 15px 0;
}

.paso__link__facebook {
    background: #3a5795;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 2px;
}

.paso__link__twitter {
    background: #4099ff;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 2px;
}

.donaciones {
    padding: 10px 35px;
    color: #656c76;
    text-align: center;
}

.donacion__titulo {
    font-size: 18px;
    font-weight: normal;
}

.donacion__formulario {
    padding: 20px 0;
}

.donacion__monto {
    width: 100px;
    display: inline-block;
}

.donacion__formulario__mas {
    background: #2dc989;
    width: 25px;
    height: 25px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 25px;
}

.donacion__formulario__menos {
    background: #ff6666;
    width: 25px;
    height: 25px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 25px;
}

.donacion__input {
    width: 80px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d7dce2;
    border-radius: 3px;
}

.donacion__boton {
    border: 1px solid #253b80;
    color: #253b80;
    width: 247px;
    height: 37px;
    margin-top: 20px;
    background: #fff;
    border-radius: 3px;
}

.promesas__titulo {
    font-size: 16px;
    font-weight: normal;
}

.promesas__lista {
    list-style: none;
    padding: 0;
}

.footer {
    background: #ff6666;
    padding: 20px 35px;
    color: #fff;
    text-align: center;
}